{% extends 'dashboard/content.html' %}
{% block title %}Detalle de Cargo{% endblock %}
{% block titlecontent %}Detalle de Cargo{% endblock %}
{% block titlemenu %}Cargos{% endblock %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-info">
                        <h3 class="card-title"><i class="fas fa-user-tie"></i> Datos del cargo</h3>
                    </div>
                    <div class="card-body">
                        <p><strong>Departamento:</strong> {{ cargo.departamento.nombre }}</p>
                        <p><strong>Nombre:</strong> {{ cargo.nombre }}</p>
                        <p><strong>Descripción:</strong> {{ cargo.descripcion }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
