


{% extends 'dashboard/base.html' %}
{% block title %}Panel de control{% endblock %}
{% block titlecontent %}Panel de control{% endblock %}
{% block titlemenu %}    Inicio              {% endblock %}
{% block content %}

    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>{{ activos|stringformat:"03d" }}</h3>
                <p>Usuarios Activos</p>
            </div>
            <div class="icon">
                <i class="fas fa-user-check"></i>
            </div>
            <a href="{% url 'users_connected' %}" class="small-box-footer">VER MÁS <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-secondary">
            <div class="inner">
                <h3>{{ inactivos|stringformat:"03d" }}</h3>
                <p>Usuarios Inactivos</p>
            </div>
            <div class="icon">
                <i class="fas fa-user-slash"></i>
            </div>
            <a href="{% url 'users_list' %}" class="small-box-footer">VER MÁS <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>{{ conectados|stringformat:"03d" }}</h3>
                <p>Usuarios Conectados</p>
            </div>
            <div class="icon">
                <i class="fas fa-user-friends"></i>
            </div>
            <a href="{% url 'users_list' %}" class="small-box-footer">VER MÁS <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>{{ bloqueados|stringformat:"03d" }}</h3>
                <p>Usuarios Bloqueados</p>
            </div>
            <div class="icon">
                <i class="fas fa-user-lock"></i>
            </div>
            <a href="{% url 'users_list' %}" class="small-box-footer">VER MÁS <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>





{% endblock %}
