{% extends 'dashboard/base.html' %}
{% block title %}Panel de control{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>Bienvenido al Panel de Control</h2>
        <p>Desde aquí puedes acceder a los indicadores, menú principal y funcionalidades de la aplicación.</p>
    <a href="{% url 'detalle_user' %}" class="btn btn-info mt-3">Ver mi perfil</a>
    <a href="{% url 'bloquear_sesion' %}" class="btn btn-danger mt-3 ms-2" onclick="return confirm('¿Seguro que deseas bloquear tu sesión? Esto cerrará tu sesión actual.');">Bloquear mi sesión</a>
    </div>
</div>
{% endblock %}
