{% load static %}

<aside class="main-sidebar elevation-4 sidebar-dark-primary">
  <a href="{% url 'dashboard' %}" class="brand-link">
    <img
      src="{% static 'dist/img/AdminLTELogo.png' %}"
      alt=""
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light"><b>HIDRO</b> <sub>S.C.V</sub> <sup> 1.0</sup></span>
  </a>

  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        {% if request.user.profile.avatar %}
        <img
          class="img-circle elevation-2"
          src="{{ request.user.profile.avatar.url }}"
          alt="Fotografía"
        />
        {% else %}
        <img
          src="{% static 'avatars/default.jpg' %}"
          class="img-circle elevation-2"
          alt="User Image"
        />
        {% endif %}
      </div>
      <div class="info">
        {% if user.first_name and user.last_name %}
        <a href="" class="d-block"
          >{{ user.first_name |upper }} {{ user.last_name |upper }}</a
        >
        {% else %}
        <a href="" class="d-block">{{ user.username |upper }}</a>
        {% endif %}
      </div>
    </div>

    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      
       <li class="nav-item">
          <a
            href="{% url 'dashboard' %}"
            class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}"
          >
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
      </li>
      
      {% if user.is_superuser %}
      <li class="nav-item has-treeview {% if 'users_' in request.resolver_match.url_name or 'group_' in request.resolver_match.url_name or 'empresa_' in request.resolver_match.url_name or 'unidad_' in request.resolver_match.url_name or 'departamento_' in request.resolver_match.url_name or 'cargo_' in request.resolver_match.url_name or 'roles_' in request.resolver_match.url_name %}menu-open{% endif %}">
          <a href="#" class="nav-link {% if 'users_' in request.resolver_match.url_name or 'group_' in request.resolver_match.url_name or 'empresa_' in request.resolver_match.url_name or 'unidad_' in request.resolver_match.url_name or 'departamento_' in request.resolver_match.url_name or 'cargo_' in request.resolver_match.url_name or 'roles_' in request.resolver_match.url_name %}active{% endif %}">
            <i class="fas fa-building nav-icon"></i>
            <p>
              Panel Administrativo
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'users_list' %}" class="nav-link {% if request.resolver_match.url_name == 'users_list' %}active{% endif %}">
                <i class="fas fa-users nav-icon"></i>
                <p>Usuarios</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'users_connected' %}" class="nav-link {% if request.resolver_match.url_name == 'users_connected' %}active{% endif %}">
                <i class="fas fa-user-friends nav-icon"></i>
                <p>Usuarios Conectados</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'empresa_list' %}" class="nav-link {% if request.resolver_match.url_name == 'empresa_list' %}active{% endif %}">
                <i class="fas fa-building nav-icon"></i>
                <p>Empresas</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'unidad_list' %}" class="nav-link {% if request.resolver_match.url_name == 'unidad_list' %}active{% endif %}">
                <i class="fas fa-sitemap nav-icon"></i>
                <p>Unidades Organizativas</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'departamento_list' %}" class="nav-link {% if request.resolver_match.url_name == 'departamento_list' %}active{% endif %}">
                <i class="fas fa-layer-group nav-icon"></i>
                <p>Departamentos</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'cargo_list' %}" class="nav-link {% if request.resolver_match.url_name == 'cargo_list' %}active{% endif %}">
                <i class="fas fa-briefcase nav-icon"></i>
                <p>Cargos</p>
              </a>
            </li>
    
            <li class="nav-item has-treeview {% if 'group_' in request.resolver_match.url_name or 'roles_' in request.resolver_match.url_name %}menu-open{% endif %}">
              <a href="#" class="nav-link {% if 'group_' in request.resolver_match.url_name or 'roles_' in request.resolver_match.url_name %}active{% endif %}">
                <i class="fas fa-users-cog nav-icon"></i>
                <p>
                  Gestión de Roles
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="{% url 'group_list' %}" class="nav-link {% if request.resolver_match.url_name == 'group_list' %}active{% endif %}">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Listar Roles</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'group_create' %}" class="nav-link {% if request.resolver_match.url_name == 'group_create' %}active{% endif %}">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Crear Rol</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'roles_permissions' %}" class="nav-link {% if request.resolver_match.url_name == 'roles_permissions' %}active{% endif %}">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Asignar Permisos</p>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      {% endif %}

      <li class="nav-item has-treeview {% if 'hidrologica' in request.resolver_match.url_name %}menu-open{% endif %}">
        <a href="#" class="nav-link {% if 'hidrologica' in request.resolver_match.url_name %}active{% endif %}">
          <i class="nav-icon fas fa-water"></i>
          <p>
            Hidrológicas
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{% url 'hidrologica_list' %}" class="nav-link {% if request.resolver_match.url_name == 'hidrologica_list' %}active{% endif %}">
              <i class="far fa-building nav-icon"></i>
              <p>Ver Hidrológicas</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'hidrologica_create' %}" class="nav-link {% if request.resolver_match.url_name == 'hidrologica_create' %}active{% endif %}">
              <i class="far fa-plus-square nav-icon"></i>
              <p>Agregar Hidrológica</p>
            </a>
          </li>
        </ul>
      </li>
      </ul>
    </nav>
    </div>
</aside>